<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Kendo/styles")
    <style>
        .container {
            width: 1400px;
        }

        .k-edit-label {
            text-align: left;
            padding-left: 20px;
        }

        .k-window {
        }

        .k-edit-form-container {
            position: relative;
            width: 400px;
        }
    </style>
    @*    @Scripts.Render("~/bundles/bootstrap/")*@
    @*@Scripts.Render("~/bundles/bootstrap/")*@
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/Kendo/js")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Организации", "Index", "Organization")</li>
                    <li>@Html.ActionLink("Услуги", "Index", "Service")</li>
                    <li>@Html.ActionLink("Реестр услуг", "Index", "ServiceReestr")</li>
                    <li>@Html.ActionLink("Реестр сотрудников", "Index", "EmployeeReestr")</li>
                    <li>@Html.ActionLink("Оказанные услуги", "Index", "ProducedService")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewBag.Title</p>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>
