@{
    ViewBag.Title = "Организации";
}
@model List<Reestr.BLL.DTOs.OrganizationDTO>
@using Kendo.Mvc.UI



<div>
    <div class="demo-section k-content">

        <h3>Организации</h3>
        <div id="grid"></div>
    </div>

    <script type="text/x-template" id="searchbar">
        <input type="text" name="txtsearch" id="txtsearch" class="k-textbox" placeholder="Поиск..." style="width: 270px" />
        <label for="isdeleted" style="margin-left: 30px">Искать удаленные записи?</label>
        <input type="checkbox" name="isdeleted" id="isdeleted" class="k-checkbox" />
    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            var dataSource = new kendo.data.DataSource({
                type: "odata",
                transport: {
                    read: {
                        url: "/Organization/List",
                        type: "GET",
                        dataType: "json",
                        contentType: "",
                    },
                    create: {
                        url: "/Organization/Insert",
                        type: "POST",
                        dataType: "json",
                    },
                    update: {
                        url: "/Organization/Update",
                        type: "POST",
                        dataType: "json"
                    },
                    destroy: {
                        url: "/Organization/Delete",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function (data, type) {
                        if (type == "destroy") {
                            return { Id: kendo.stringify(data.Id) };
                        }
                        if (type == "update") {
                            return kendo.stringify(data);
                        }
                        if (type == "create") {
                            console.log(data);
                            return kendo.stringify(data);
                        }
                        if (type == "read") {
                            return {
                                Offset: $('#grid').data('kendoGrid').dataSource.skip(),
                                Limit: $('#grid').data('kendoGrid').dataSource.pageSize(),
                                SortingParameters: data.sort,
                                NameToSearchFor: $("#txtsearch").val(),
                                IsDeleted: document.getElementById('isdeleted').checked
                            }
                        }
                    },
                },
                pageSize: 20,
                serverPaging: true,
                serverSorting: true,
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number", editable: false, nullable: true },
                            Name: { type: "string", validation: { required: true } },
                            BIN: { type: "string", validation: { required: true } },
                            PhoneNumber: { type: "string", validation: { required: true } },
                            BeginDate: { type: "date", validation: { required: true } }
                        }
                    }
                }
            });



            var grid = $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                height: 550,
                sortable: true,
                toolbar: [{ name: "create", text: "Добавить" }, { template: kendo.template($("#searchbar").html()) }],
                search: {
                    fields: ["Name"],
                },
                columns: [
                    { field: "Name", title: "Название", width: 450 },
                    { field: "BIN", title: "БИН", width: 120, hidden: true },
                    { field: "PhoneNumber", title: "Номер телефона", width: 120 },
                    { field: "BeginDate", title: "Дата начала действия", format: "{0:dd/MM/yyyy}", width: 120 },
                    { command: [{ name: "edit", text: "Редактировать" }, { name: "destroy", text: "Удалить" }], width: 170 }],
                editable: {
                    mode: "popup",
                    confirmation: "Вы уверены, что хотите удалить запись?",
                    window: {
                        title: "",
                        animation: true,
                    },
                },
                edit: function (e) {
                    var update = $(e.container).parent().find(".k-grid-update");
                    var cancel = $(e.container).parent().find(".k-grid-cancel");
                    $(update).html('<span class="k-update">Подтвердить</span>');
                    $(cancel).html('<span class="k-cancel">Отмена</span>');
                    $('#BIN').kendoMaskedTextBox({
                        mask: '0000-0000-0000'
                    })
                    $('#PhoneNumber').kendoMaskedTextBox({
                        mask: '(000)-000-0000'
                    });
                },
            }).data('kendoGrid');

            $("body").on("keyup", "#txtsearch", function () {
                var value = $("#txtsearch").val();
                if (value.length < 3) {
                    return
                }
                else {
                    $("#grid").data("kendoGrid").dataSource.filter({
                        logic: "or",
                        filters: [
                            { field: "Name", operator: "contains", value: value }
                        ]
                    })
                }
            });

            $("body").on("click", "#isdeleted", function () {
                if (document.getElementById('isdeleted').click) {
                    var value = $("#isdeleted").val();
                    $("#grid").data("kendoGrid").dataSource.filter({
                        logic: "or",
                        filters: [
                            { field: "EndDate" }
                        ]
                    })
                }
                
            });

        @*var checkbox = grid.find("#isdeleted");
            var value = $("#isdeleted").val();
            checkbox.on("click", function () {
                grid.data("kendoGrid").dataSource.read({ IsDeleted: value});
            });*@

            @*if (document.getElementById('isdeleted').click) {

            }*@

        });
    </script>
</div>





@* Разметка ниже использовалась для тестирования backend'а *@
@*<div>
    <button>
        @Html.ActionLink("Insert Organization", "Insert", "Home");
    </button>
    <button>
        @Html.ActionLink("Update Organization", "Update", "Home");
    </button>
    <button>
        @Html.ActionLink("List Organizations", "List", "Home");
    </button>
    <button>
        @Html.ActionLink("Delete Organizations", "Delete", "Home");
    </button>

</div>*@

@*<div class="container" style="margin-top: 100px">
    @(Html.Kendo().Grid<Reestr.BLL.DTOs.OrganizationDTO>()
        .Name("OrganizationGrid")
        .Columns(columns =>
        {
            columns.Bound(o => o.Name).Width(200);
            columns.Bound(o => o.BIN).Width(200);
            columns.Bound(o => o.PhoneNumber).Width(200);
            columns.Bound(o => o.BeginDate).Format("{0:dd.MM.yyyy}").Width(200);
            columns.Command(command => { command.Edit(); command.Destroy(); });
        })
        .ToolBar(toolBar => toolBar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Pageable()
        .Scrollable()
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model => model.Id(o => o.Id))
            .Read(read => read.Action("List", "Home"))
            .Create(create => create.Action("Insert", "Home"))
            .Update(update => update.Action("Update", "Home"))
            .Destroy(destroy => destroy.Action("Delete", "Home"))
        )
    )
</div>*@